
@import "~/assets/_variables.scss";


@media only screen and (min-width: 1600px) {

}

@media only screen and (max-width: 1600px) {
  .form-wrapper {
    left: 20%!important;
    width: 470px!important;
  }
  .title {
    left: 60%!important;;
    font-size: 80px!important;
  }
}
@media only screen and (max-width: 1500px) {
  
}
@media only screen and (max-width: 1300px) {
  .form-wrapper {
    left: 16%!important;
  }
}

@media only screen and (max-width: 1200px) {
  .form-wrapper {
    top: 25%!important;
    width: 440px!important;
    font-size: 15px!important;
  }
  .error-text {
    font-size: 13px !important;
  }
  .title {
    left: 65%!important;
    font-size: 65px!important;
  }
}
@media only screen and (max-width: 1000px) {
  .form-wrapper {
    font-size: 14px !important;
  }
  .error-text {
    font-size: 12px !important;
  }
  .form-control {
    padding: 8px 20px!important;
  }
  .btn {
    padding: 8px 40px!important;
  }
  .field {
    margin: 15px !important;
  }
  .icon {
    width: 25px !important;
    height: 25px !important;
  }
  .title {
    font-size: 60px!important;
  }
}

@media only screen and (max-width: 992px) {
  .form-wrapper {
    left: 20%!important;
    top: 30% !important;
    width: 60%!important;
  }
  .title {
    top: 20%!important;
    left: 50%!important;
    font-size: 65px!important;
  }
  .loading {
    font-size: 18px!important;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    top: 17%!important;
    left: 35%!important;
  }
  .form-control:focus ~ .icon,
  .icon__active {
    left: -40px!important;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 55px!important;
    left: 22%!important;
  }
  .form-wrapper {
    left: 10%!important;
    top: 30% !important;
    width: 80%!important;
  }
  .form-control:focus ~ .icon,
  .icon__active {
    left: -35px!important;
  }
  .btn-close {
    width: 15px!important;
    height: 15px!important;
  }
}

@media only screen and (max-width: 480px) {
	.title {
    font-size: 45px!important;
    left: 20%!important;
  }
  .message__wrapper {
    height: 150px!important;
  }
}
@media only screen and (max-width: 375px) {
  .title {
    font-size: 38px!important;
    top: 10%!important;
  }
  .form-wrapper {
    top: 22% !important;
  }
  .btn {
    width: 90%!important;
  }
  .icon {
    width: 20px !important;
    height: 20px !important;
    top: 11px!important;
  }
  .floating-label {
    left: 8px!important;
    font-size: 12px !important;
  }
  .modal-footer {
    padding: 0px 15% 40px!important;
  }
}
@media only screen and (max-width: 350px) {
  .title {
    font-size: 35px!important;
  }
  .form-wrapper {
    top: 18% !important;
    font-size: 14px!important;
  }
  .floating-label {
    padding-left: 35px !important;
  }
}

@media only screen and (max-height: 900px) {
  
}