$gray: rgb(34, 34, 37);
$gray-second: rgb(170, 170, 170);
$black: rgb(17, 17, 17);
$orange: #fac921;
$orange-secondary: #fac72188;
$warning: rgb(255, 1, 1);
$warning-secondary: rgba(255, 47, 47, 0.6);
$white: #fff;
$white-second: rgba(255, 255, 255, 0.2);
$text-secondary: #7a7a7a;

$column-size: 80px;

$transition: all 0.4s ease-out;

